<mat-toolbar fxLayoutAlign="space-start center">
  <button
    mat-icon-button
    matTooltip="Main menu"
    matTooltipPosition="below"
    (click)="drawer.toggle()"
    class="menu"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <div matTooltip="FundooNote" matTooltipPosition="below" fxLayout.xs="column">
    <img
      fxLayoutAlign="space-start center"
      class="titleImage"
      src="../../../../assets/imeges/FundooNote.png"
    />
  </div>
  <span
    matTooltip="FundooNote"
    matTooltipPosition="below"
    class="fundooTitle"
    fxFlex.xs="100"
    >{{ title }}</span
  >

  <div fxLayout="row" fxLayoutAlign="end center">
    <button mat-icon-button matTooltip="List View" matTooltipPosition="below">
      <mat-icon>view_agenda </mat-icon>
    </button>
    <button mat-icon-button matTooltip="Fundoo apps" matTooltipPosition="below">
      <mat-icon>apps</mat-icon>
    </button>
    <button
      matTooltip="Sign out"
      matTooltipPosition="below"
      mat-icon-button
      (click)="signOut()"
    >
      <mat-icon>login</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-sidenav-container fullscreen>
  <mat-sidenav #drawer mode="side" opened>
    <mat-nav-list>
      <mat-list-item>
        <a href="/notes"></a>

        <mat-icon class="menu-item" mat-button (click)="showInfo()"
          >notes</mat-icon
        >
        Notes
      </mat-list-item>
      <mat-list-item>
        <a href="/reminder"></a>

        <mat-icon class="menu-item" mat-button (click)="showInfo()"
          >notifications_none</mat-icon
        >
        Reminders
      </mat-list-item>
      <mat-list-item>
        <a href="/lable"></a>

        <mat-icon class="menu-item" mat-button (click)="showInfo()"
          >edit</mat-icon
        >
        Edit labels
      </mat-list-item>
      <mat-list-item>
        <a href="/archive"></a>

        <mat-icon class="menu-item" mat-button (click)="showInfo()"
          >archive_outline</mat-icon
        >
        Archive
      </mat-list-item>
      <mat-list-item>
        <a href="/archive"></a>

        <mat-icon
          class="menu-item"
          mat-button
          class="material-icons"
          (click)="showInfo()"
          >delete_outline</mat-icon
        >
        Trash
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content><app-createnote></app-createnote></mat-sidenav-content>
</mat-sidenav-container>
