.mat-toolbar {
  background-color: transparent;
  position: fixed;
  margin-right: 80%;
}

.mat-icon {
  margin-left: 4%;
  margin-right: 10%;
  background-color: transparent;
}

.mat-sidenav {
  width: 15%;
}

.mat-sidenav-container {
  margin-top: 3%;
  position: fixed;
  background-color: transparent;
}

.menu {
  margin-left: 0.2%;
}

mat-form-field {
  width: 30%;
  margin-top: 4%;
}
