mat-card {
  margin-top: 17%;
  margin-left: 10%;
  font-display: inherit;
  position: fixed;
}

.description {
  margin-top: 15px;
}
mat-action-row {
  border: hidden;
}
.icon {
  margin-top: 0px;
  margin-left: -40px;
  margin-right: -180px;
  margin-bottom: -10px;
}
// .close {
//   margin-right: 300px;
// }
