<div fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxFlex="500px">
    <mat-card-header fxLayoutAlign="center">
      <mat-card-title>Registration Form</mat-card-title>
    </mat-card-header>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input
          matInput
          [formControl]="FirstName"
          placeholder="Enter First Name"
          autocomplete="off"
        />
        <mat-error *ngIf="FirstName.invalid">{{
          getFirstNameErrorMessage()
        }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input
          matInput
          [formControl]="LastName"
          placeholder="Enter Last Name"
          autocomplete="off"
        />
        <mat-error *ngIf="LastName.invalid">{{
          getLastNameErrorMessage()
        }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email Id</mat-label>
        <input
          matInput
          [formControl]="Email"
          placeholder="abc@gmail.com "
          autocomplete="off"
        />
        <mat-error *ngIf="Email.invalid">{{
          getEmailErrorMessage()
        }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          [formControl]="Password"
          placeholder="Enter your password"
          autocomplete="off"
          [type]="hide ? 'password' : 'text'"
        />
        <mat-error *ngIf="Password.invalid">{{
          getPasswordErrorMessage()
        }}</mat-error>
        <mat-icon matSuffix (click)="hide = !hide">
          {{ hide ? "visibility" : "visibility_off" }}
        </mat-icon>
      </mat-form-field>
      <button
        mat-button
        type="submit"
        mat-raised-button
        color="primary"
        class="divider"
        (click)="onSubmit()"
      >
        Submit
      </button>
      <button mat-button mat-raised-button color="primary" routerLink="/login">
        Login
      </button>
    </div>
  </mat-card>
</div>
