<div fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-header fxLayoutAlign="center">
      <mat-card-title>Reset Password</mat-card-title>
    </mat-card-header>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          [formControl]="Password"
          placeholder="Enter your password"
          autocomplete="off"
          [type]="hide ? 'password' : 'text'"
        />
        <mat-error *ngIf="Password.invalid">{{
          getPasswordErrorMessage()
        }}</mat-error>
        <mat-icon matSuffix (click)="hide = !hide">
          {{ hide ? "visibility" : "visibility_off" }}
        </mat-icon>
      </mat-form-field>
      <button
        mat-button
        type="submit"
        mat-raised-button
        color="primary"
        class="divider"
        (click)="onSubmit()"
      >
        Submit
      </button>
    </div>
  </mat-card>
</div>
