.form-container {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }
  
  .medium-list {
    margin: auto;
    width: 500px;
    padding: 50px;
  }
  
  .list-viewer-wrapper {
    border: 1px solid steelblue;
    box-shadow: 500px tomato;
    margin: 4px;
  }
  
  .list-header-title {
    color: cadetblue;
    background: rgba(0, 0, 0, 0, 0.03);
    padding: 8px, 20px;
    font-weight: normal;
    font-size: large;
    padding: 10px;
  }
 
  .divider {
    margin-top: 30px;
  }
  
  .main-div {
    margin-top: 100px;
    padding: 0px;
  }
  
  .mat-form-field {
    width: 400px;
  }
  .button-container {
    width: 20%;
  }
  