<div fxLayoutAlign="center center" fxFlexFill>
  <mat-card class="mat-card" fxFlex="500px">
    <mat-card-header fxLayoutAlign="center">
      <mat-card-title>Forgot Password</mat-card-title>
    </mat-card-header>
    <div class="form-container">
      <mat-form-field appearance="outline">
        <mat-label>Email Id</mat-label>
        <input
          matInput
          [formControl]="Email"
          placeholder="abc@gmail.com "
          autocomplete="off"
        />
        <mat-error *ngIf="Email.invalid">{{
          getEmailErrorMessage()
        }}</mat-error>
      </mat-form-field>
    </div>
    <div class="buttom-container">
      <button
        mat-button
        type="submit"
        mat-raised-button
        color="primary"
        (click)="onNext()"
      >
        Send Reset Link
      </button>
    </div>
  </mat-card>
</div>
