<div fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxLayout="column" fxFlex="500px" fxFlex.xs="100%">
    <mat-card-header fxFlex="50px" fxLayoutAlign="center">
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <div fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>Email Id</mat-label>
        <input
          matInput
          [formControl]="Email"
          placeholder="abc@gmail.com "
          autocomplete="off"
        />
        <mat-error *ngIf="Email.invalid">{{
          getEmailErrorMessage()
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          [formControl]="Password"
          placeholder="Enter your password"
          autocomplete="off"
          [type]="hide ? 'password' : 'text'"
        />
        <mat-error *ngIf="Password.invalid">{{
          getPasswordErrorMessage()
        }}</mat-error>
        <mat-icon matSuffix (click)="hide = !hide">
          {{ hide ? "visibility" : "visibility_off" }}
        </mat-icon>
      </mat-form-field>

      <div fxFlex="50px" fxLayoutAlign="space-between end">
        <a routerLink="/forgotpassword">
          Forgot Password ?
        </a>
        <a routerLink="/register">
          Create Account
        </a>
        <button
          mat-button
          type="submit"
          mat-raised-button
          color="primary"
          (click)="onLogin()"
        >
          Login
        </button>
      </div>
    </div>
  </mat-card>
</div>
