<mat-expansion-panel hideToggle [formGroup]="noteData">
  <mat-expansion-panel-header (click)="togglePanel()">
    <input
      autocomplete="off"
      matInput
      placeholder="Title"
      formControlName="title"
    />
  </mat-expansion-panel-header>

  <textarea
    autocomplete="off"
    matInput
    fxLayout="column"
    fxLayoutAlign="end end"
    placeholder="Take a note..."
    matTextareaAutosize
    matAutosizeMinRows="1"
    matAutosizeMaxRows="25"
    formControlName="description"
  ></textarea>

  <button mat-button (click)="onClose()">
    Close
  </button>
</mat-expansion-panel>
