.mat-expansion-panel {
  width: 30%;
  margin-top: 2%;
  margin-left: 25%;
  font-display: inherit;
  position: fixed;
  -webkit-box-shadow: -2px 3px 19px -5px rgba(15, 13, 12, 1);
  -moz-box-shadow: -2px 3px 19px -5px rgba(15, 13, 12, 1);
  box-shadow: -2px 3px 19px -5px rgba(15, 13, 12, 1);
}

button {
  margin-left: 90%;
}
textarea {
  overflow: auto;
  resize: none;
}
