<mat-expansion-panel hideToggle [formGroup]="noteData">
  <mat-expansion-panel-header>
    <input
      autocomplete="off"
      matInput
      placeholder="Title"
      formControlName="title"
      autofocus
    />
    <button
      matSuffix
      mat-icon-button
      matTooltip="Pin note"
      matTooltipPosition="below"
      (click)="pinNote()"
      *ngIf="!pinned"
    >
      <img src="../../../../assets/imeges/pin-outline.svg" />
    </button>
    <button
      matSuffix
      mat-icon-button
      matTooltip="Unpin note"
      matTooltipPosition="below"
      (click)="pinNote()"
      *ngIf="pinned"
    >
      <img src="../../../../assets/imeges/pin.svg" />
    </button>
  </mat-expansion-panel-header>

  <textarea
    matInput
    fxLayoutGap="gappx"
    placeholder="Take a note..."
    autocomplete="off"
    formControlName="description"
    matTextareaAutosize
    matAutosizeMinRows="1"
    matAutosizeMaxRows="25"
  ></textarea>

  <mat-action-row>
    <app-icons></app-icons>
    <button class="close" fxLayoutAlign="end" mat-button (click)="onClose()">
      Close
    </button>
  </mat-action-row>
</mat-expansion-panel>
<app-displaynotes></app-displaynotes>
